
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    color: #616060;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}



/* ..........................................navbar start....................................... */
.navbar {
    background-color: hsl(228deg 56% 98%);
}


.navbar .logo {
    display: flex;

}

.navbar .logo .last {
    color: #e99c2e;

}

.navbar .logo h2 {
    text-transform: capitalize;

}

.navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.navbar li {
    margin: 25px;
    text-transform: capitalize;
    font-size: larger;
}

.navbar li a:link {
    text-decoration: none;
}

.navbar li a:active {
    color: #e99c2e;
}

.navbar li a:visited {
    text-decoration: none;
}

.navbar li a:hover {
    color: #e99c2e;

}

.navbar .icons i {
    margin: 15px;
    color: #6f716f;
}

.navbar .navbar_content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: baseline;
}

/* ..........................................navbar end....................................... */
/* ..........................................design start....................................... */
.design {
    background-color: rgb(247, 248, 253);
}

.design .design_content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.design .design_content .first {
    width: 33%;
    margin: 4% auto;
}

.design .design_content .second {
    width: 50%;
    padding-bottom: 10%;
}

.design .design_content .second h3 {
    color: #998d81;
    text-transform: capitalize;
    margin-top: 90px;

}

.design .design_content .second h1 {
    text-transform: capitalize;
    font-size: 2.5rem;
    margin-top: 20px;

}

.design .design_content .second p {
    color: #a09e9c;
    margin-top: 20px;

}

.design .design_content .second .old_price {
    text-decoration: line-through;
    color: #998d81;
    display: inline-block;
    padding-left: 18px;
}

.design .design_content .second .first_button {
    background-color: #e99c2e;
    color: hsl(228deg 56% 98%);
    border: none;
    width: 142px;
    height: 48px;
    text-transform: capitalize;
    margin-top: 20px;
}

.design .design_content .second .first_button i {
    color: #ffffff;
    background-color: #e99c2e;
    padding-right: 5px;
}

.design .design_content .second .first_button span {
    color: #ffffff;

}

.design .design_content .second .second_button {
    background-color: hsl(228deg 56% 98%);
    color: #e99c2e;
    border: none;
    width: 142px;
    height: 48px;
    text-transform: capitalize;
    margin-top: 20px;
}

.design .design_content .second .second_button span {
    color: #e99c2e;

}

/* ..........................................design end....................................... */
/* ..........................................main start....................................... */


.main {
    background-color: #ffffff;

}

.main .products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    justify-content: space-around;
    align-content: center;
}


.main .products .chair {
    width: 300px;
    text-align: center;
    background-color: hsl(228deg 56% 98%);
}

.main .products .chair img {
    padding-top: 30px;
}



.main .products .stool {
    width: 50%;
    display: flex;
    background-color: hsl(228deg 56% 98%);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch;
    margin: 40px;
    padding: 21px;
}

.main .products .stool .first {
    padding-left: 5px;
}

.main .products .stool .second {
    padding-left: 30px;
    width: 71%;
}

.main .products .stool .second h4::after {
    content: "$99.00";
    color: #e99c2e;
}


.main .products .stool .second button {
    background-color: transparent;
    border-style: solid;
    height: 50px;
    width: 130px;
}

.main .products .lamp {
    width: 300px;
    text-align: center;
    background-color: hsl(228deg 56% 98%);
}

/* ..........................................main end....................................... */

.white {
    text-align: center;
    font-size: 2.5rem;
    margin: 50px;
}

/* ..........................................white end....................................... */
/* ..........................................new arrivals start....................................... */

.new_arrivals .new_arrivals_content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}



.new_arrivals .new_arrivals_content .item {
    height: 300px;
    width: 300px;
    background-color: hsl(228deg 56% 98%);
    text-align: center;
    margin: 15px;
    padding-top: 70px;
    position: relative;


}

.new_arrivals .new_arrivals_content .item p {
    width: 110px;
    height: 31px;
    border: 1px #d8924c solid;
    text-align: center;
    line-height: 30px;
    background-color: #d8924c;
    color: #ffffff;
    position: absolute;
    right: 0px;
    top: -15px
}

.new_arrivals .new_arrivals_content .item .green {
    background-color: #47d93c;
    border: 1px #47d93c solid;

}

/* ..........................................new arrivals end....................................... */
/* ..........................................middle start....................................... */
.middle {
    background: url(../images/bg.jpg) center no-repeat;
    background-size: cover;
    height: 700px;
    margin-top: 100px;
    position: relative;
}

.middle::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #0000006e;
    z-index: 2;
}

.middle .container {
    position: relative;
    z-index: 3;
}

.middle .middle_content {
    padding-top: 9%;
    width: 50%;
    font-size: 1.3rem;
}

.middle .middle_content h2,
.middle .middle_content p,
.middle .middle_content h4 {
    color: #ffffff;
    margin: auto;
    padding-top: 25px;
}

.middle .middle_content h4::after {
    content: " $ 199";
    color: #e99c2e;

}

.middle .middle_content button {
    margin-top: 25px;
    background-color: #e99c2e;
    color: #ffffff;
    height: 47px;
    width: 144px;
    border-color: transparent;

}

/* ..........................................middle end....................................... */
/* ..........................................featured intro start....................................... */
.featured_products_intro {
    text-align: center;
    font-size: 2.5rem;
    margin: 50px;
}

/* ..........................................featured intro end....................................... */
/* ..........................................featured p start....................................... */

.featured_products .featured_products_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured_products .featured_products_content .product img {
    width: 122%;
    padding-right: 64px;
}



.featured_products .featured_products_content .product {
    padding: 20px;
    text-align: center;
}

.featured_products .featured_products_content .product .star {
    padding-top: 15px;
}

.featured_products .featured_products_content .product .star .active i {
    color: gold;
}

.featured_products .featured_products_content .product .star .after::after {
    content: "(45 views)";
    padding-left: 15px;
}


/* ..........................................featured p end....................................... */
/* ..........................................latest blog intro start....................................... */

.latest_blog_intro {
    text-align: center;
    font-size: 2.5rem;
    margin: 50px;
}

/* ..........................................latest blog intro end....................................... */
/* ..........................................latest blog  start....................................... */


.latest_blog .latest_blog_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest_blog .latest_blog_content .part {
    width: 30%;
}

.latest_blog .latest_blog_content .part img {
    max-width: 100%;
}

.latest_blog .latest_blog_content .part h4::after {
    content: "By Robert Norby/18march 2018";
    display: block;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: lighter;
}

/* ..........................................latest blog  end....................................... */
/* ..........................................clients  start....................................... */



.clients {
    background-color: hsl(228deg 56% 98%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
}


.clients img {
    padding: 64px;
}

/* ..........................................clients  end....................................... */
/* ..........................................final  start....................................... */
.final .final_content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 80px 0px;
}

.final .final_content .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;

}

.final .final_content .item a {
    padding-top: 50px;
}


.final .final_content .item a:any-link {
    text-decoration: none;
}

.final .final_content .item p {
    padding: 37px 0px;
}

.final .final_content .item input {
    box-shadow: 1px 3px 12px -5px rgb(0 0 0);
    color: transparent;
    border: none;
    width: 100%;
    height: 50px;
}

.final .final_content .item input::placeholder {
    padding-left: 10px;
}


.footer {
    height: 150px;
    background-color: hsl(228deg 56% 98%);
}

.footer .footer_content .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer .footer_content .icons i {
    padding: 0px 40px;
    line-height: 102px;
}


.footer .footer_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

/* ..........................................media start....................................... */



/* 
    @media (min-width:0px) and (max-width: 1480px) {
        .latest_blog .latest_blog_content {
            display: flex;
            flex-direction: column;
            align-content: center;
            flex-wrap: wrap;
            padding-right: 10%;
            text-align: center;
        }

        .latest_blog .latest_blog_content .part .content {
            text-align: start;
            width: 130%;
        }

        .latest_blog .latest_blog_content .part {
            padding: 0px;

        }
    } */

@media(min-width:700px) and (max-width:1000px) {
    .latest_blog .latest_blog_content .part {
        font-size: .7rem
    }
}

@media(max-width:700px) {
    .latest_blog .latest_blog_content {
        flex-direction: column;
        align-items: center
    }

    .latest_blog .latest_blog_content .part {
        width: 80%;
        text-align: center;
    }

}

@media (max-width:1650px) {
    .main .products .stool {
        order: 1
    }
}


@media (max-width: 1166px) {
    .navbar .navbar_content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }

    .middle .middle_content {
        width: 80%;
    }

}







@media (min-width:0px) and (max-width: 746px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .design .design_content {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .middle .middle_content {
        width: 80%;
    }


}